name: Check vars & secrets
on:
  workflow_call:

jobs:
  Check-PIPE:
    runs-on: ubuntu-latest

    steps:
    - name: Get Last
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.G_PAT }}
        ref: ${{ github.head_ref }}

    - name: Preare system
      shell: bash
      run: |
        npm ci

    - name: Get vars or secrets needed to run
      shell: bash
      run: |
        python -m pip install --upgrade pip ruamel.yaml gitpython
        python .github/workflows/scripts/CheckEnv.py ${{secrets.G_PAT}} 

    - name: Update Git
      if: failure()
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "Github Actions"
        git fetch
        git pull
        git add .github/workflows/*.yml
        git commit -m "Update VARS from GitHub Actions"
        git push origin "${{ github.head_ref }}"

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.11.0
      with:
        mongodb-version: '7.0'
        mongodb-db: esmorga
        mongodb-port: 27017

    - uses: actions/setup-node@v4
      with:
        node-version: '22.1'


    - name: Run Service
      uses: ./.github/actions/runService

      env:
        APP_PORT: ${{vars.APP_PORT}}
        MONGODB_URI: ${{secrets.MONGODB_URI}}
        NODE_ENV: ${{vars.NODE_ENV}}
        JWT_SECRET: ${{secrets.JWT_SECRET}}
        ACCESS_TOKEN_TTL: ${{vars.ACCESS_TOKEN_TTL}}
        MAX_PAIR_OF_TOKEN: ${{vars.MAX_PAIR_OF_TOKEN}}
        EMAIL_USER: ${{vars.EMAIL_USER}}
        EMAIL_PASS: ${{secrets.EMAIL_PASS}}
        APP_LINK: ${{vars.APP_LINK}}
        LOGIN_ATTEMPTS_TTL: ${{vars.LOGIN_ATTEMPTS_TTL}}
        MAX_LOGIN_ATTEMPTS: ${{vars.MAX_LOGIN_ATTEMPTS}}
        DNS_NAME: ${{vars.DNS_NAME}}
        JWT_REFRESH_SECRET: ${{secrets.JWT_REFRESH_SECRET}}
        CORS_ORIGIN: ${{vars.CORS_ORIGIN}}
        ENABLE_CORS: ${{vars.ENABLE_CORS}}
    - name: Push OAS
      uses: ./.github/actions/pushOasFile
      with:
        PAT: ${{ secrets.G_PAT }}
